[submodule "naive_bayes"]
	path = naive_bayes
	url = https://github.com/saeidmoha/naive_bayes.git
[submodule "ML"]
	path = ML
	url = https://github.com/saeidmoha/ML.git
[submodule "svm"]
	path = svm
	url = https://github.com/saeidmoha/svm.git
[submodule "decision_tree"]
	path = decision_tree
	url = https://github.com/saeidmoha/decision_tree.git
[submodule "enron_data"]
	path = enron_data
	url = https://github.com/saeidmoha/enron_data.git
[submodule "regression"]
	path = regression
	url = https://github.com/saeidmoha/regression.git
