[submodule "naive_bayes"]
	path = naive_bayes
	url = https://github.com/saeidmoha/naive_bayes.git
[submodule "ML"]
	path = ML
	url = https://github.com/saeidmoha/ML.git
[submodule "svm"]
	path = svm
	url = https://github.com/saeidmoha/svm.git
[submodule "decision_tree"]
	path = decision_tree
	url = https://github.com/saeidmoha/decision_tree.git
[submodule "enron_data"]
	path = enron_data
	url = https://github.com/saeidmoha/enron_data.git
[submodule "regression"]
	path = regression
	url = https://github.com/saeidmoha/regression.git
[submodule "outliers"]
	path = outliers
	url = https://github.com/saeidmoha/outliers.git
[submodule "K_mean"]
	path = K_mean
	url = https://github.com/saeidmoha/K_mean.git
[submodule "text_processing"]
	path = text_processing
	url = https://github.com/saeidmoha/text_processing.git
[submodule "feature_selection"]
	path = feature_selection
	url = https://github.com/saeidmoha/feature_selection.git
[submodule "tools"]
	path = tools
	url = https://github.com/saeidmoha/tools.git
[submodule "evaluation"]
	path = evaluation
	url = https://github.com/saeidmoha/evaluation.git
[submodule "pca"]
	path = pca
	url = https://github.com/saeidmoha/pca.git
